---
Language : Cpp
AccessModifierOffset : -2
BreakStringLiterals : false
ColumnLimit : 0
FixNamespaceComments : false
PointerAlignment : Left
ReflowComments : false
SortIncludes : true
UseTab : Never
---
